.example1 {
    background-image: url('../img/memberImage1.png'),url('../img/memberImage2.png');
    background-position: right bottom, left top;    
    background-repeat: no-repeat, repeat;
    max-width: 1516px;
    height: 1000px;
}